@import 'styles/variables.scss';

.container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    & > div:first-of-type {
        padding: 1em;
    }
}
