.container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .version {
        opacity: 0.5;
        padding-left: 0.5em;
        font-size: 0.5em;
        display: inline-block;
    }
}
