.container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
